body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

h2 {
    color: #333;
}

nav {
    width: 200px;
    background-color: #343a40;
    height: 100vh;
    padding: 20px 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    color: #9ca0b2;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex-grow: 1;
}

.container {
    display: flex;
}

form input[type="text"],
form input[type="password"],
form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}
